<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>https://ejercicio2.federico-timote.repl.co/listado muestra el top 10 de emisiones por per capita</h1>
  <h1>https://ejercicio2.federico-timote.repl.co/listado/top muestra el top 10 de emisiones en total </h1>
  <h1>https://ejercicio2.federico-timote.repl.co/listado/argentina muestra el per capita y total por pais </h1>
  <h1>https://ejercicio2.federico-timote.repl.co/ayuda explica la funcion del programa </h1>
</body>
</html>